extends ../adminFrame
block containerss
	h2.address
		i.fa.fa-home 
		a(href="/admin") 首页 
		span / 
		a 视频管理
	div(style="padding:20px;")
		table.table.table-bordered
			thead
				th(width="20%") 电影名字
				th(width="20%") 导演
				th(width="10%") 国家
				th(width="10%") 栏目
				th(width="10%") PV
				th(width="10%") 录入时间
				th(width="20%") 操作
			tbody
				each item in movies
					tr(class="item-id-#{item._id}")
						td #{item.title}
						td #{item.doctor}
						td #{item.country}
						td #{item.category.name}
						td #{item.pv}
						td #{moment(item.meta.updateAt).format('YYYY-MM-DD')}
						td.operation.alink
							a.btn.btn-success(target="_blank",href="/detail/#{item._id}")
								i.fa.fa-chrome
								span 预览
							a.btn.btn-info(href="/admin/movie/update/#{item._id}")
								i.fa.fa-edit
								span 更新
							//button.btn.btn-danger.del(data-id="#{item._id}") 删除
							a.btn.btn-danger.del(id="#{item._id}") 
								i.fa.fa-trash
								span 删除
	script(src="/js/admin.js")