extends ./layout/home
block title
block content
	//header
	div.container.header.clearfix
		.logo.col-2
			a(href="/",style="")
				img(src="https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png",title="豆瓣电影网")
		form.form-horizontal.col-4(role="form")
			div.form-group
				input.form-control(type="text",placeholder="Please input content")
		nav.col-6
			each category in categorys
				a(href="/list?cat=#{category._id}&p=0")= category.name

	div.banner.container-fluid
		.wrapper.container
			div.app
				h4.app-tit 豆瓣 4.0
				p.app-desc
					span 我们的精神角落
				div.link-app.clearfix
					a.link-a-app.col-9(href="#") 下载豆瓣 App
					p.link-wx.col-3
						span
							img(src="/image/icon_qrcode_green.png",alt="")
			div.login
				form
					.form-group
						input.form-control(type="text",name="name",placeholder="手机号/邮箱")
					.form-group
						input.form-control(type="password",name="pwd",placeholder="密码")
					.form-group
						button.btn.btn-blackish.login-btn(type="submit") 登录豆瓣
						a.btn.btn-blackish-border.register-btn(href="/admin/register") 注册账号
	div.container
		each cate in categorys
			if cate.movies && cate.movies.length>0
				.clearfix.item
					h2.title
						a(href="/list?cat=#{cate._id}&p=0")= cate.name
					each item in cate.movies
						.col-2
							.thumbnail
								a(href="/detail/#{item._id}")
									img(src="#{item.poster}",alt="#{item.title}")
								.caption
									h3.cap-tit #{item.title}
									p: a.btn.btn-primary(href="/detail/#{item._id}") 观看预告片




