extends ../adminFrame
block containerss
	h2.address
		i.fa.fa-home 
		a(href="/admin") 首页 
		span / 
		a 用户管理
	div(style="padding:20px;")
		table.table.table-bordered
			thead
				th(width="25%") 用户名
				th(width="25%") 角色
				th(width="25%") 注册时间
				th(width="25%") 操作
			tbody
				each item in users
					tr(class="item-id-#{item._id}")
						td #{item.username}
						td #{item.role}
						td #{moment(item.meta.updateAt).format('YYYY-MM-DD')}
						td.operation.alink
							a.btn.btn-info(href="/admin/user/update/#{item._id}")
								i.fa.fa-edit
								span 编辑
							a.btn.btn-danger.userDel(id="#{item._id}") 
								i.fa.fa-trash
								span 删除
	script(src="/js/admin.js")