extends ../adminFrame
block containerss
	h2.address
		i.fa.fa-home 
		a(href="/admin") 首页 
		span / 
		a 分类管理
	div(style="padding:20px;")
		table.table.table-bordered
			thead
				th(width="25%") 分类名
				th(width="25%") 创建时间
				th(width="25%") 操作
			tbody
				each item in categorys
					tr(class="item-id-#{item._id}")
						td #{item.name}
						td #{moment(item.meta.updateAt).format('YYYY-MM-DD')}
						td.operation.alink
							a.btn.btn-success(target="_blank")
								i.fa.fa-chrome
								span 预览
							a.btn.btn-info(href="/admin/cate/update/#{item._id}")
								i.fa.fa-edit
								span 编辑
							a.btn.btn-danger.cateDel(id="#{item._id}") 
								i.fa.fa-trash
								span 删除
	script(src="/js/admin.js")